<!DOCTYPE html>
<html class="uk-height-1-1" lang="en">
<head>
    <meta charset="utf-8">
    <title>familybook</title>
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body class="uk-height-1-1">
    <div id="app"></div>
    <script src="assets/js/build.js"></script>
</body>
</html>
