<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>familybook</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
    <style>
    html, body {
        height: 100%;
    }
    </style>
</head>
<body>
    <div id="app"></div>
    <script src="assets/js/build.js"></script>
</body>
</html>
